.nodes-form{
 text-align:left;
 position:absolute;
 background-color:white;
 border:solid 1px black;
 padding:10px;
 min-width:200px;
}
.nodes td:hover{
 background-color: #999999;
 background-image:url(click.gif);
 background-position:0 0;
 background-repeat:no-repeat;
}
.nodes-form .form-item{
 padding:0 0 5px 0;
}
.nodes th{
 border:solid 1px #ccc;
 background-color:#333;
 color: #ddd;
 border-color:black;
}
.nodes td{
 border:dotted 1px #ccc;
}
.nodes tr.header{
 border:solid;
 border-color:black;
 border-width: 3px 1px;
}
#wrapper, #container{
 max-width:none !important;
}
.nodes{
 width:100%;
 background-color:white;
 border:solid 1px #ccc;
}
.nodes-button{
 color:black;
 background-color:#eee;
 border:solid 1px black;
 padding:1px;
}
.nodes-button:hover{
 border:outset 2px black;
 padding:0px
}
.nodes-button:active{
 border:inset 2px black;
 padding:0px
}
.nodes td.nohover:hover{
 background-color:inherit;
 background-image:none;
}
.nodes-selected{
 background-color:#adb2c1 !important;
}
.nodes tr.all{
 text-align:center;
}
.deselected{
 display:none;
}